{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-blue">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item p-2"><h5>Help Desk</h5></li>
            {% if g.user %}
            <li class="nav-item p-1"><a class="nav-link" href="/ticket/submit">Submit</a></li>
            <li class="nav-item p-1"><a class="nav-link" href="/ticket/dashboard">Tickets</a></li>
            {% if g.user['ROLE'] == 'ADMIN' %}
            <li class="nav-item p-1"><a class="nav-link" href="/admin/users">Users</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if g.user %}
            <li class="nav-item p-1"><span class="align-bottom">{{ g.user['USERNAME'] }}</span></li>
            <li class="nav-item p-1"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>


