{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }

        a.app-nav-btn:link, a.app-nav-btn:visited {
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            }

        a.app-nav-btn:hover, a.app-nav-btn:active {
            background-color: rgba(0, 255, 136, 0.425);
            }
	</style>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-md bg-secondary mb-3">
    <div class="w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item p-2"><h4>Help Desk</h4></li>
            {% if g.user %}
            <li class="nav-item p-1 w-20"><a class="app-nav-btn" href="/ticket/submit">Submit</a></li>
            <li class="nav-item p-1 w-20"><a class="app-nav-btn" href="/ticket/dashboard">Tickets</a></li>
            {% if g.user['ROLE'] == 'ADMIN' %}
            <li class="nav-item p-1 w-20"><a class="app-nav-btn" href="/admin/users">Users</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if g.user %}
            <li class="nav-item p-1"><span class="align-bottom">{{ g.user['USERNAME'] }}</span></li>
            <li class="nav-item p-1"><a class="app-nav-btn" href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
            <li class="nav-item p-1"><a class="app-nav-btn" href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        
        <div class="col-sm-4">{% block header %}{% endblock %}</div>
        <div class="col-sm-8"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        {% block subcontent %}
        {% endblock %}
    </div>
</div>
{% endblock %}
