{% extends 'base.html' %}



{% block content %}
<div class="col-sm-8">
    <span><a href={{ url_for('admin.create_user')}}>Create New User</a></span> 
    <table class="table table-striped">
        <thead>
            <th scope="col">User ID</th>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user['USER_ID']}}</td>
                    <td>{{user['USERNAME']}}</td>
                    <td>{{user['ROLE']}}</td>
                    <td><a href={{ url_for('admin.edit_user', user_id=user['USER_ID'] )}}>Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-sm-4"></div>
{% endblock %}