{% extends 'base.html' %}


{% block header %}
  <h5 class="p-2">Log In</h5>
{% endblock %}

{% block subcontent %}
<div class="col-sm-4">
<form method="post">
  <div class="mb-3 mt-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username">
  </div>
  <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="col-sm-8"></div>
{% endblock %}
