{% extends 'base.html' %}


{% block content %}
<form method="post" action="/ticket/{{form.ticket_id.data}}">
    {{ form.csrf_token }}
    <div class="row p-3 ml-5 mr-auto">
    <div class="col-sm-6">
        <div class="mb-3">
            <label for="ticket_id" class="form-label">{{ form.ticket_id.label }}</label>
            <input type="text" class="form-control" id="ticket_id" name="ticket_id" value="{{form.ticket_id.data}}" readonly>
        </div>
        <div class="mb-3 mt-3">
            <label for="subject" class="form-label">{{ form.subject.label }}</label>
            <input type="text" class="form-control" id="subject" name="subject" value="{{ form.subject.data }}" readonly>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">{{ form.description.label }}</label>
            <textarea class="form-control" id="description" name="description" readonly>{{ form.description.data }}</textarea>
        </div>
        <div class="mb-3">
            <label for="submitted_by" class="form-label">{{ form.submitted_by.label }}</label>
            <input type="text" class="form-control" id="submitted_by" name="submitted_by" value="{{ form.submitted_by.data }}" readonly>
        </div>
        <div class="mb-3">
            <label for="created_at" class="form-label">{{ form.created_at.label }}</label>
            <input type="text" class="form-control" id="created_at" name="created_at" value="{{ form.created_at.data }}" readonly>
        </div>
        <div class="mb-3">
            <label for="started_at" class="form-label">{{ form.started_at.label }}</label>
            <input type="text" class="form-control" id="started_at" name="started_at" value="{{ form.started_at.data }}" readonly>
        </div>
        <div class="mb-3">
            <label for="finished_at" class="form-label">{{ form.finished_at.label }}</label>
            <input type="text" class="form-control" id="finished_at" name="finished_at" value="{{ form.finished_at.data }}" readonly>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="mb-3">
            <label for="notes" class="form-label">{{ form.notes.label }}</label>
            <textarea class="form-control" id="notes" name="notes" rows="15">{{ form.notes.data }}</textarea>
        </div>
        <div class="mb-3">
                <button type="submit" class="btn btn-primary w-25">Update</button>
                <button type="button"  class="btn btn-primary w-25" onclick="window.location.href='{{url_for('index.index')}}';">Click me!</button>
                <p class="pt-5"><strong>{{ message if message }}</strong></p>
        </div>
    </div>
    </div>
</form>
{% endblock %}